@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

.body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #001F29;
    color: #f5a0bd;

}
.title {
    font-size: 15pt;
    color: #f9c8d8;
}
button{
    font-size: 15pt;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    border-width: medium;
    border-style:outset;
    border-color: #ffffff;
    background-color: #e62b86;
}
.text {
    font-size: 17pt;
}
.baseboard {
    padding-top: 270pt;
}